.bellow_text{
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .bellow_text h5{
    color: var(--Dark-blue, #282938);
  
  /* Body 2 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  }
  .menu_bottom{
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .menu_bottom ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  .menu_bottom ul li a{
    color: var(--Dark-blue, #282938);
  
  /* Body 2 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  margin-left: 18px;
  }